In [1]:
from vietfin import vf

In [2]:
vf.funds.search().to_df().tail(5)
#result = vf.funds.search()
#print(result.extra)

Retrieved 43 record(s) from Fmarket.

,fund_id,short_name,name,inception_date,management_fee,nav,fund_owner,fund_type
38,38,VNDAF,QUỸ ĐẦU TƯ CHỦ ĐỘNG VND,2018-01-11 17:00:00+00:00,1.50,15643.54,CÔNG TY TNHH MTV QUẢN LÝ QUỸ ĐẦU TƯ CHỨNG KHOÁ...,Quỹ cổ phiếu
39,70,VCAMBF,QUỸ ĐẦU TƯ CÂN BẰNG BẢN VIỆT,2014-04-10 17:00:00+00:00,1.20,17507.25,CÔNG TY CỔ PHẦN QUẢN LÝ QUỸ ĐẦU TƯ CHỨNG KHOÁN...,Quỹ cân bằng
40,61,PBIF,QUỸ ĐẦU TƯ CÂN BẰNG PVCOM,NaT,1.30,10600.77,CÔNG TY CỔ PHẦN QUẢN LÝ QUỸ NGÂN HÀNG TMCP ĐẠI...,Quỹ cân bằng
41,30,DFIX,QUỸ ĐẦU TƯ TRÁI PHIẾU DFVN,2021-02-03 17:00:00+00:00,0.90,11092.02,CÔNG TY TNHH MTV QUẢN LÝ QUỸ DAI-ICHI LIFE VIỆ...,Quỹ trái phiếu
42,52,NTPPF,QUỸ ĐẦU TƯ CỔ PHIẾU TRIỂN VỌNG NTP,2022-06-11 17:00:00+00:00,1.75,10494.33,CÔNG TY CỔ PHẦN QUẢN LÝ QUỸ NTP,Quỹ cổ phiếu

In [1]:
from vietfin import vf
#vf.funds.historical(symbol="vesaf", start_date="2021-01-01", end_date="2023-01-05")
vf.funds.historical(symbol="vesaf").to_df().tail(5)

end_date not provided, set to 2024-04-09
start_date not provided, set to 2024-02-09
Retrieved 39 daily NAV data point for fund VESAF.

      date_nav  nav_per_share  fund_id
34  2024-04-03       29665.62       23
35  2024-04-04       29260.48       23
36  2024-04-05       29001.08       23
37  2024-04-08       28683.72       23
38  2024-04-09       28508.80       23

In [2]:
vf.funds.holdings(symbol="vff").to_df().tail(5)

,stock_code,industry,weight,asset_category,update_at
5,VHM121025,Bất động sản,3.83,BOND,2024-04-08 04:04:24.990000+00:00
6,SBT12401,Thực phẩm - Đồ uống,3.77,BOND,2024-04-08 04:04:24.990000+00:00
7,KDH12202,Bất động sản,2.75,BOND,2024-04-08 04:04:24.990000+00:00
8,HDBC7Y202301,Ngân hàng,1.96,BOND,2024-04-08 04:04:24.990000+00:00
9,BAF122029,Nông - Lâm - Ngư,1.42,BOND,2024-04-08 04:04:24.990000+00:00

In [1]:
from vietfin import vf
#vf.equity.price.historical(symbol="ksb", provider="ssi", start_date="2024-02-16", end_date="2024-02-16").raw_data
# vf.equity.price.historical(symbol="ksb", provider="dnse", start_date="2024-02-10", end_date="2024-02-16").raw_data
vf.equity.price.historical(symbol="fpt", provider="dnse").to_df().tail(5)

#vf.equity.price.historical(symbol="vnm", start_date="2023-06-01", end_date="2024-01-01", interval="1m")
#vf.equity.price.historical(symbol="vnm", start_date="2023-06-01", end_date="2024-01-01", interval="1m", provider="dnse")

end_date not provided, set to 2024-04-09
start_date not provided, set to 2024-02-09
Retrieved 38 historical price data point for symbol FPT.

                open      high       low     close   volume
date
2024-04-02  115400.0  117000.0  115400.0  117000.0  2285800
2024-04-03  116100.0  117000.0  115100.0  115100.0  2549000
2024-04-04  115000.0  115800.0  114000.0  114000.0  2359500
2024-04-05  113100.0  114700.0  112600.0  113700.0  2759000
2024-04-08  113700.0  113700.0  112600.0  112600.0  1952000

In [7]:
vf.equity.price.quote(symbol="ctg").to_df().head(5)

Retrieved 100 intraday quotes for stock ticker CTG.

,time,volume,average_price,order_type,order_count,investor_type,prev_price_change
0,14:30:00,400,34550.0,BU,3,SHEEP,50.0
1,14:29:59,3000,34500.0,SD,4,SHEEP,-50.0
2,14:29:58,5000,34550.0,BU,2,SHEEP,0.0
3,14:29:57,1000,34550.0,BU,1,SHEEP,50.0
4,14:29:57,5000,34500.0,SD,2,SHEEP,-50.0

In [1]:
# from vietfin import vf
vf.equity.search().to_df().tail(5)
# vf.equity.search(symbol="vnm", provider="ssi").to_dict()

Retrieved 1610 records for equity.search() from SSI.

     symbol  ...  organ_code
1605    XMP  ...  XUANMINHHP
1606    YBC  ...         YBC
1607    YBM  ...        YBMC
1608    YEG  ...     YEGCORP
1609    YTC  ...       YTECO

[5 rows x 4 columns]

In [9]:
#vf.derivatives.futures.historical(symbol="VN30F1M", start_date="2020-07-01", end_date="2023-07-24", provider="vdsc")
vf.derivatives.futures.historical(symbol="VN30F1M").to_df().tail(5)

end_date not provided, set to 2024-03-08
start_date not provided, set to 2024-01-08
Retrieved 40 historical price data point for symbol VN30F1M.

              open    high     low   close  volume
date
2024-03-04  1270.2  1272.0  1263.5  1268.4  155236
2024-03-05  1267.0  1279.8  1264.2  1278.5  173437
2024-03-06  1278.5  1282.0  1255.1  1266.8  248155
2024-03-07  1267.8  1278.2  1264.2  1273.4  226526
2024-03-08  1274.5  1276.0  1249.5  1253.8  341569

In [10]:
vf.equity.price.quote(symbol='fpt').to_df().head(5)

Retrieved 100 intraday quotes for stock ticker FPT.

,time,volume,average_price,order_type,order_count,investor_type,prev_price_change
0,14:29:53,100,110400.0,BU,1,SHEEP,200.0
1,14:29:53,5200,110200.0,SD,3,WOLF,0.0
2,14:29:50,100,110200.0,SD,1,SHEEP,0.0
3,14:29:45,1000,110200.0,SD,2,SHEEP,0.0
4,14:29:33,1000,110200.0,SD,1,SHEEP,0.0

In [2]:
# from vietfin import vf
# ck = "rv_cspm=1234; rv_avraaaaaaaaaaaaaaaa_session_=MEJANFDCEABJMNFDMJIHKMKOPBHMHKGOINOKAJIFIJNEGMMKJICNMLPIDNFONJEDDPKDELFJFDACINIJICDAAFAPNOAIGMANFIGFBOLKHIONEKODLPJHLIPOGFMDPBFI; vdsc-liv=!bXg2YA6Or/B47j4SXRmvUcbihKKaHUemqvADkR1J8s3vcbherxHWgcMHtlEvblLDqUgw5Kh6LjOjWQ==; allCustomGroupsCkName=ALL_DEFAULT_GROUP_ID%23%23%23%23%23%23%23%23CTD%3BDHG%3BDRC%3BFPT%3BHPG%3BHSG%3BKDC%3BMWG%3BNT2%3BPAC%3BPC1%3BPNJ%3BTAC%3BVCB%3BVDS%3BVGC%3BVJC%3BVNM%3B%23%23%23%23%23%23%23%23T%C3%B9y%20ch%E1%BB%8Dn; isLoadAdvertise=TRUE; hideMarketChartCKName=0; RV08835624=080035c91e23c9751e012d42a9530a91e5386a1a09cf58737d1ed7985c2af19d5f4eb725285bbb7ea90c488902a512e29b24270452; lhc_per_={%22vid%22:%22aa8060086a9227589df9%22}; rv_avraaaaaaaaaaaaaaaa_session_=EBLLODEAGIFIAHDFJOJNFGINMFBDCDBOHCFGJPCDNBAJBMBMCDIJKIPAOGEGAMMNMKODNCIDBLAOMDNJDPKAGFBDBJNKOOAOBGCLGEODFONGKOMFLDCFMBFLHJBHGNAL; JSESSIONID=3146D28790490E0211935702CF87161B; RV9cd20160034=08557ab163ab2000364777fe4740f28c7345024890c99e930b80e53250a890a1119ab55d2881b6b9081937354b113000ccb35f8836ee0232beb976e63b15f85b6fd8509abfc9130f6c9f81761520bd9c4c6d0a92749bf7e3d04f006edb725919"
# vf.derivatives.futures.quote(symbol="VN30F2402", limit=100, cookie=ck, provider="vdsc")
vf.derivatives.futures.quote(symbol="VN30F2402", provider="tcbs")

NotImplementedError: derivatives.futures.quote() command is not implemented for Tcbs provider.

In [11]:
vf.index.search().to_df().tail(5)

Retrieved 25 records.

   index_symbol group_by_index
20         VNSI        VNINDEX
21        VNSML        VNINDEX
22        VNUTI        VNINDEX
23        VNX50        VNINDEX
24       VNXALL        VNINDEX

In [1]:
from vietfin import vf
#vf.etf.historical(symbol='E1VFVN30', start_date='2021-12-05', end_date='2021-01-01', interval='1m', provider='dnse')
vf.etf.historical(symbol='E1VFVN30', provider='ssi').to_df().head()

end_date not provided, set to 2024-04-02
start_date not provided, set to 2024-02-02
Retrieved 37 historical price data for symbol E1VFVN30.

               open     high      low    close   volume
date
2024-02-02  20310.0  20340.0  20200.0  20230.0  1957500
2024-02-05  20230.0  20740.0  20230.0  20670.0  2098000
2024-02-06  20670.0  20780.0  20670.0  20670.0   106200
2024-02-07  20700.0  20950.0  20690.0  20950.0   203200
2024-02-15  20950.0  21130.0  20950.0  20970.0   697100

In [4]:
from vietfin import vf
vf.equity.profile(symbol="vpb").to_df()

,symbol,name,legal_name,exchange,long_description,company_url,employees
0,VPB,VPBank,Ngân hàng Thương mại Cổ phần Việt Nam Thịnh Vượng,HOSE,Ngân hàng Thương mại Cổ phần Việt Nam Thịnh Vư...,https://www.vpbank.com.vn/,28155

In [3]:
# from vietfin import vf
vf.equity.ownership.insider_trading(symbol="fpt").to_df().tail(5)
#ob = vf.equity.ownership.insider_trading(symbol="fpt", limit=0)
#print(ob.extra.get("api_url"))

Retrieved 100 insider trading data point for stock ticker FPT.

   filing_date acquisition_or_disposition  ...      owner_type  symbol
95  2017-09-07                        Bán  ...     Cổ đông lớn     FPT
96  2017-07-28                        Bán  ...     Cổ đông lớn     FPT
97  2017-07-28                        Bán  ...     Cổ đông lớn     FPT
98  2017-06-21                        Mua  ...  Cổ đông nội bộ     FPT
99  2017-04-28                        Bán  ...     Cổ đông lớn     FPT

[5 rows x 6 columns]

In [4]:
vf.equity.ownership.major_holders(symbol="fpt").to_df().tail(5)

Retrieved 10 major holders data point for stock ticker FPT.

        investor_name  weight
5  Phan Ngô Tống Hưng  0.0134
6          Đỗ Cao Bảo  0.0095
7    Nguyễn Thành Nam  0.0094
8       Lê Quang Tiến  0.0063
9                Khác  0.2587

In [6]:
from vietfin import vf
vf.equity.calendar.events(symbol="ssi").to_df().tail(5)

Retrieved 100 calendar events data point for stock ticker SSI.

   event_code  ... symbol
95         TS  ...    SSI
96       KQQY  ...    SSI
97       KQQY  ...    SSI
98         TS  ...    SSI
99        DIV  ...    SSI

[5 rows x 11 columns]

In [7]:
# from vietfin import vf
vf.news.company(symbol="msn").to_df().head(5)

Retrieved 100 news titles for stock ticker MSN.

       date_published  ... symbol
0 2024-03-07 07:38:00  ...    MSN
1 2024-03-05 14:50:00  ...    MSN
2 2024-02-22 09:05:00  ...    MSN
3 2024-02-21 17:21:00  ...    MSN
4 2024-02-19 17:03:00  ...    MSN

[5 rows x 7 columns]

In [9]:
# from vietfin import vf
vf.equity.fundamental.management(symbol='msn').to_df().head(5)

Retrieved 59 key executives for stock ticker MSN.

                    name                         title  weight symbol
0       Nguyễn Hoàng Yến  Thành viên Hội đồng Quản trị  0.0358    MSN
1           Madhur Maini  Thành viên Hội đồng Quản trị  0.0088    MSN
2  Nguyễn Thị Thanh Thủy                          None  0.0054    MSN
3    Michael Hùng Nguyễn             Phó Tổng Giám đốc  0.0025    MSN
4    Michael Hùng Nguyễn            Giám đốc Tài chính  0.0025    MSN

In [10]:
vf.index.price.historical(symbol="vn30").to_df().head(5)

end_date not provided, set to 2024-03-08
start_date not provided, set to 2024-01-08
Retrieved 40 historical price data point for symbol VN30.

               open     high      low    close     volume
date
2024-01-08  1164.43  1169.95  1159.73  1163.52  277139201
2024-01-09  1163.61  1164.86  1156.01  1160.21  243371201
2024-01-10  1160.50  1168.93  1158.53  1162.68  367994000
2024-01-11  1164.80  1172.49  1159.52  1163.56  287315950
2024-01-12  1161.72  1167.94  1149.61  1163.66  385307501

In [11]:
# from vietfin import vf
vf.equity.fundamental.ratios(symbol="fpt", period="annual").to_df().head(5)

Retrieved 20 financial ratios data point for stock ticker FPT.

  symbol  period  ...  ebitdaOnStockChange  bookValuePerShareChange
0    FPT  annual  ...                0.051                    0.187
1    FPT  annual  ...                0.031                    0.173
2    FPT  annual  ...                0.001                   -0.016
3    FPT  annual  ...               -0.021                   -0.067
4    FPT  annual  ...                0.137                    0.120

[5 rows x 43 columns]

In [13]:
# from vietfin import vf
vf.equity.fundamental.dividends(symbol="vnm").to_df().head(5)

Retrieved 43 historical dividends data point for stock ticker VNM.

  symbol dividend_type payment_date  cash_dividend_percentage
0    VNM          cash   2024-03-15                     0.090
1    VNM          cash   2023-12-27                     0.050
2    VNM          cash   2023-08-03                     0.095
3    VNM          cash   2023-08-03                     0.150
4    VNM          cash   2022-12-22                     0.140

In [2]:
# from vietfin import vf
vf.equity.discovery.gainers()

ConnectTimeout: HTTPSConnectionPool(host='finfo-api.vndirect.com.vn', port=443): Max retries exceeded with url: /v4/top_stocks?q=index:VNIndex~nmVolumeAvgCr20D:gte:10000~priceChgPctCr1D:gt:0&size=10&sort=priceChgPctCr1D (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000001EBA16C11E0>, 'Connection to finfo-api.vndirect.com.vn timed out. (connect timeout=None)'))

In [14]:
vf.etf.search().to_df().head(5)

Retrieved 14 ETFs records.

     symbol                 short_name     inav  ...      low    volume  exchange
0  E1VFVN30          Quỹ ETF DCVFMVN30  21569.0  ...  21640.0  650100.0      hose
1  FUEBFVND      Quỹ ETF BVFVN DIAMOND  12531.0  ...      0.0       NaN      hose
2  FUEDCMID      Quỹ ETF DCVFMVNMIDCAP  11549.0  ...  11520.0   45200.0      hose
3  FUEFCV50  Quỹ ETF FPT CAPITAL VNX50  12054.0  ...  12000.0    5600.0      hose
4  FUEIP100        Quỹ ETF IPAAM VN100   9024.0  ...   7550.0     700.0      hose

[5 rows x 8 columns]

In [15]:
# from vietfin import vf
vf.etf.historical(symbol="E1VFVN30", provider="ssi").to_df().head(5)
#vf.etf.historical(symbol="E1VFVN30", start_date="2019-01-01", end_date="2024-02-01", provider="ssi").to_df()

end_date not provided, set to 2024-03-08
start_date not provided, set to 2024-01-08
Retrieved 40 historical price data for symbol E1VFVN30.

               open     high      low    close  volume
date
2024-01-08  20050.0  20190.0  19900.0  20080.0  840300
2024-01-09  19860.0  20100.0  19860.0  20040.0   54300
2024-01-10  20040.0  20160.0  19990.0  20040.0  191900
2024-01-11  20140.0  21000.0  20020.0  20050.0  720400
2024-01-12  19990.0  20140.0  19850.0  20100.0  188300

In [16]:
vf.index.constituents("vn30").to_df().head(5)

Retrieved 30 records.

  symbol  ... exchange
0    ACB  ...     hose
1    BCM  ...     hose
2    BID  ...     hose
3    BVH  ...     hose
4    CTG  ...     hose

[5 rows x 8 columns]

In [17]:
vf.equity.fundamental.balance(symbol="acb").to_df().head(5)

Retrieved 748 data point for balancesheet, of stock ticker ACB.

   fiscal_year  fiscal_quarter  period       items  values symbol
0         2023               5  annual  shortAsset     NaN    ACB
1         2022               5  annual  shortAsset     NaN    ACB
2         2021               5  annual  shortAsset     NaN    ACB
3         2020               5  annual  shortAsset     NaN    ACB
4         2019               5  annual  shortAsset     NaN    ACB

In [19]:
# from vietfin import vf
vf.equity.fundamental.balance(symbol="acb").to_df().head(5)

Retrieved 748 data point for balancesheet, of stock ticker ACB.

   fiscal_year  fiscal_quarter  period       items  values symbol
0         2023               5  annual  shortAsset     NaN    ACB
1         2022               5  annual  shortAsset     NaN    ACB
2         2021               5  annual  shortAsset     NaN    ACB
3         2020               5  annual  shortAsset     NaN    ACB
4         2019               5  annual  shortAsset     NaN    ACB

In [1]:
from vietfin import vf
vf.equity.ownership.foreign_trading(symbol="vnm").to_df().tail(5)

end_date not provided, set to 2024-04-09
start_date not provided, set to 2024-02-09
Retrieved 39 foreign trading data point for symbol VNM.

,net_trading_volume,net_trading_value,bid_volume,bid_value,ask_volume,ask_value,remaining_room,weight,close_price,percent_change
date,,,,,,,,,,
2024-04-03,-2355700,-157662750000,114600,7666070000,2470300,165328820000,1019046343,51.24,66.7,-0.89
2024-04-04,1999300,135604480000,2540100,172338760000,540800,36734280000,1017047043,51.34,68.2,2.25
2024-04-05,685100,46589280000,1729600,117576630000,1044500,70987350000,1016361943,51.37,67.9,-0.44
2024-04-08,-330800,-22241960000,241200,16240110000,572000,38482070000,1016692743,51.35,67.0,-1.33
2024-04-09,-982898,-65875145000,347000,23259150000,1329898,89134295000,1017675641,51.31,67.0,0.00

In [1]:
from vietfin import vf
vf.equity.ownership.prop_trading(symbol="vnm").to_df().tail(5)

end_date not provided, set to 2024-04-09
start_date not provided, set to 2024-02-09
Retrieved 39 proprietary trading data point for symbol VNM.

            bid_volume    bid_value  ask_volume    ask_value symbol
date
2024-04-03      293000  19602300000      710600  47606150000    VNM
2024-04-04      551400  37419720000      303900  20659420000    VNM
2024-04-05      247500  16837750000      262000  17802430000    VNM
2024-04-08      131900   8882770000      475500  31954740000    VNM
2024-04-09       77800   5215640000       56400   3778240000    VNM

In [2]:
from vietfin import vf
vf.equity.discovery.losers().to_df()

,symbol,price,change,percent_change,volume,trading_value,updated_at
0,QBS,1.57,-0.11,-6.547619,474080.0,1.172633e+09,2024-04-09 15:59:00
1,SFG,12.90,-0.85,-6.181818,18120.0,9.485500e+07,2024-04-09 15:59:00
2,VNE,5.09,-0.31,-5.740741,311280.0,6.069135e+09,2024-04-09 15:59:00
3,MHC,9.40,-0.55,-5.527638,269260.0,3.724442e+09,2024-04-09 15:59:00
4,PSH,6.29,-0.31,-4.696970,687030.0,1.117026e+10,2024-04-09 15:59:00
5,NO1,7.30,-0.30,-3.947368,416115.0,2.251735e+09,2024-04-09 15:59:00
6,SVD,2.64,-0.08,-2.941176,136765.0,2.981690e+08,2024-04-09 15:59:00
7,FIR,8.85,-0.25,-2.747253,1188990.0,7.214344e+09,2024-04-09 15:59:00
8,ABS,5.42,-0.14,-2.517986,510990.0,4.256568e+09,2024-04-09 15:59:00
9,NTL,43.00,-1.10,-2.494331,1117760.0,7.987810e+10,2024-04-09 15:59:00

In [5]:
# from vietfin import vf
vf.derivatives.futures.search(symbol="vn30f2409").to_df()

Retrieved 1 records for futures.search() from SSI.

      symbol expiration_date initial_date   price  volume asset
0  VN30F2409      2024-09-19   2024-01-19  1303.0       1  VN30

In [2]:
from vietfin import vf
vf.derivatives.futures.quote(symbol="VN30F2404", limit=0).to_df()

Retrieved 6152 intraday quotes for futures contract VN30F2404.

,date_session,time,symbol,volume,price,status,price_change,price_change_percent,ref_price,id
0,2024-04-01,14:45:03,VN30F2404,4653,1290.4,Sell,-7.7,-0.59,1298.1,1445031711957525398
1,2024-04-01,14:30:03,VN30F2404,30,1292.5,Sell,-5.6,-0.43,1298.1,1430031711956605798
2,2024-04-01,14:30:00,VN30F2404,137,1292.5,Sell,-5.6,-0.43,1298.1,1430001711956601763
3,2024-04-01,14:29:56,VN30F2404,69,1292.5,Sell,-5.6,-0.43,1298.1,1429561711956598689
4,2024-04-01,14:29:52,VN30F2404,68,1292.7,Unfilled,-5.4,-0.42,1298.1,1429521711956594548
...,...,...,...,...,...,...,...,...,...,...
6147,2024-04-01,09:00:10,VN30F2404,16,1293.4,Buy,-4.7,-0.36,1298.1,0900101711936835824
6148,2024-04-01,09:00:08,VN30F2404,81,1293.0,Sell,-5.1,-0.39,1298.1,0900081711936827784
6149,2024-04-01,09:00:06,VN30F2404,10,1293.0,Sell,-5.1,-0.39,1298.1,0900061711936824954
6150,2024-04-01,09:00:04,VN30F2404,122,1293.0,Sell,-5.1,-0.39,1298.1,0900041711936821604
6151,2024-04-01,09:00:02,VN30F2404,1570,1293.0,Unfilled,-5.1,-0.39,1298.1,0900021711936809626